@charset "UTF-8";

body
{
background-color : blue;
color : red
font-size: 13pt
font-family : arial;
}

h1
{   
    background-image: linear-gradient(270deg, red, yellow );
    background-color: aqua;
    color: black;
    font-size: 30pt;
    font-family:Arial;
    text-align: center;
}

h2
{
    color: black;
    font-size: 20pt;
    font-family:Arial;
    text-align: center;
}

li
{
    color: black;
    font-size: 20pt;
    font-family:Arial;
    text-align: center;
}

a
{
    color: blue;
    font-size: 20pt;
    font-family:Arial;
    text-align: center;
    text-decoration: none;
} 
